.btn {
  -webkit-transition: all 0.25s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 4.8px 24px;
}

.btn--small {
  padding: 2.4px 24px;
}

.btn--primary {
  background: theme('colors.white');
  color: theme('colors.black');
  border: 2px solid theme('colors.black');
  border-radius: 36px;
  font-size: theme('fontSize.h-mobile');
  transition: background 0.3s linear;
}

.btn--primary:hover:not(:disabled) {
  background: theme('colors.black');
  border-color: theme('colors.white');
  color: theme('colors.white');
}

.btn--primary:disabled {
  background: theme('colors.grey');
  color: theme('colors.charcoal');
}

.btn--secondary {
  background: theme('colors.white');
  color: theme('colors.black');
  border: 1px solid theme('colors.black');
  border-radius: 1rem;
}
