h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a,
li,
em,
strong,
i,
sup,
label,
span,
select {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: theme('fontFamily.body');
}

body {
  font-size: theme('fontSize.large');
}

body {
  overflow-x: hidden;
}

h1,
.h1 {
  font-family: theme('fontFamily.headings');
  font-size: theme('fontSize.h-mobile');
  font-weight: 700;
  line-height: 31px;

  @screen md {
    font-size: theme('fontSize.h1');
    line-height: 94px;
  }
}

h2,
.h2 {
  font-family: theme('fontFamily.headings');
  font-size: theme('fontSize.h-mobile');
  font-weight: 700;
  line-height: 36px;

  @screen md {
    font-size: theme('fontSize.h2');
    line-height: 44px;
  }
}

.highlight {
  background-image: linear-gradient(90deg, #3cdff5 100%, transparent 0);
  background-position: 100% 75%;
  background-repeat: repeat-x;
  background-size: 100% 8px;
  display: inline-block;
  width: auto;

  @screen md {
    background-size: 100% 20px;
  }
}
