@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @apply max-w-7xl mx-auto;

    @screen md {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
